@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

body {

background-image: url('img/illustration.gif'), url('img/texture.jpg');
background-position: center 280px, left top;
background-repeat: no-repeat, repeat-x;
background-size: 800px, auto;
font-family: 'Quicksand', sans-serif;
margin: 0;
}

#nav {
background-color: #6B9;
border-bottom: 2px dashed #487;
color: white;
font-weight: bold;
padding: 20px 0;
text-align: center;
word-spacing: 2em;
}

#header {
text-align: center;
margin-top: 40px;
    padding-bottom: 350px
}
#logo {
max-width: 360px;
width: 100%;

}
#description, #date {
max-width: 220px;
width: 100%;

}
.register_btn {
background-color: #E43;
border: 2px dashed #A43;
border-radius: 2em;
color: #FFF;
cursor: pointer;
display: inline-block;
font-weight: bold;
margin-top: 25px;
padding: 15px 30px;
}

h1{
    text-align: center;
    font-weight: bold;
}

#what{
   background-color: hsl(0, 0%, 100%,.65);
    color: #347788;
    text-align: start;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 30px;
}
h2 {
    text-align: center
}
#sponsor_logos{
    padding-bottom: 50px;
    text-align: center
    
}

#massey{
   max-width: 250px;
    width: 100%;  
}

#oracle{
     max-width: 250px;
    width: 100%;
}


#
h1 {
    text-align: center;
    font-weight: bold;
}

#why{
color: #347788;
padding-left: 400px;
padding-right: 400px;
background-color: #b6ead3;
padding-top: 50px;
padding-bottom: 50px;


    
}

#where {
    background-image: url(img/map.gif);
    height: 500px;
    color: #bb4488;
    font-weight: bold;
    padding-top: 40px;
    text-align:end;
    padding-right: 400px;
    padding-left: 400px;
}

p{
    border
}
#when{
    padding-top:50px;
    color: #ffffff;
    padding-right: 400px;
    padding-left: 400px;
    background-image: url(img/wires.png);
    background-color: #439998   
    
}

ul{
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 2px dashed #ffffff;  
}

#who{
background-color: #ffffff;
padding-top: 20px;
color:#439998;
padding-right: 400px;
padding-left: 400px;
padding-bottom: 50px;
      
}


#footer{
     background-image: url(img/texture.jpg);
     text-align: center;
   
    
}

#twitter{
    max-width: 50px;
    width: 100%;
}

#facebook{
  max-width: 50px;
    width: 100%;  
}

#itch{
    max-width: 50px;
    width: 100%;
}

/* this isnt perfect but I think if I had more hours to work every little things out I could, Im just getting behind on my other class*/
